.myNavbar
{
    position: sticky ;
    z-index: 99999;
    top:0;
}

.social_mainDiv
{
    border:1px solid lightgrey;
}

.social_mainDiv img
{
    width:100%;
}

.social_mainDiv h5 , .social_mainDiv p
{
    margin: 20px;
}

.video-bg
{
    width: 100%;
    height: 500px;
    border: none;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i
{
    float: right;
}

.activity1_text span
{
    color: orange;
}


.activity2_text span
{
    color: orange;
}

.activity3_text span
{
    color: orange;
}

.new
{
    margin-bottom: 20px;
}


